---
layout: page.html
title:  Beautiful Front End Code
filter:
  - erb
---
<% content_for(:header) do -%>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two&v1' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore&v1' rel='stylesheet' type='text/css'>
  <link href='css/training.css' rel='stylesheet' type='text/css'>
<% end -%>
<div class="shell">
  <div id="main">
    <h1><span>Beautiful</span> Front End Code</h1>
    <h2 class="tagline">with Backbone and Coffeescript</h2>

    <p>This 2-day intensive course will forever <strong>change the way you
    develop</strong> the front end of your web applications.  Too long,
    many web developers have approached our front end code as drudgery or
    worse.  No more!  We'll help you build the skills to write front end code
    you can love every bit as much as your server side code.  This course is
    designed for developers who have a basic understanding of javascript and
    building web applications (ideally but not necessarily in ruby on rails)
    and want their front end code to be <strong>a thing of beauty</strong>.
    We'll cover the following:</p>

    <h3>Jasmine</h3>

    <p>Before you can even begin to write good front end code, you need to
      treat it with the same loving care as your back end code.  Of course,
      this means Test (or Behavior) Driven Development, and Jasmine is the
      framework of choice here.  Will dig in and give you a thorough
      understanding of Jasmine, including:</p>

    <ul>
      <li>matchers</li>
      <li>spies and mocks</li>
      <li>working with jquery and the DOM</li>
    </ul>

    <h3>Coffeescript</h3>

    <p>This "little language that compiles into JavaScript" has a truly lovely
      syntax for exposing all the awesome than was hiding in javascript the whole
      time.  We'll explore all the features that let you shed the noise and let
      the intent of your code come shining through.  We'll cover:</p>

    <ul>
      <li>Installation</li>
      <li>language features</li>
      <li>integration with exiting JS frameworks</li>
      <li>debugging</li>
    </ul>

    <h3>Backbone.js</h3>

    <p>Beautiful code is well organized code with a clear separation of concerns, and
      backbone.js gives us a place for everything, with
      everything in it's place.  In this part of of the course, we'll learn
      backbone by doing.  We'll gradually build a rich client web application
      (with jasmine specs of course) that gives a chance to use all the pieces of
      backbone.js, including:</p>

    <ul>
      <li>Views</li>
      <li>Handlebars templates</li>
      <li>Models</li>
      <li>Controllers</li>
      <li>Integration with server side code</li>
    </ul>

  </div>
  <div class="signup">
    <h2>Upcoming Classes</h2>
    <table class="courses">
      <tbody>
        <tr>
          <th>Location</th>
          <td>Cincinnati, OH</td>
        </tr>
        <tr>
          <th>When</th>
          <td>September 8-9th, 2011</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>$795</td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>
    <script type="text/javascript">
      var z7x3k7 = new WufooForm();
      z7x3k7.initialize({
        'userName':'gaslightsoft',
        'formHash':'z7x3k7',
        'autoResize':true,
        'height':'514'
      });
      z7x3k7.display();
    </script>
  </div>
</div>
