/* This is a series of "hacks" intended to ensure the layout looks ideal in IE based browsers */
/* Some of these fixes are simply to backup SIFR font styling (when SIFR doesn't load) */
/* Some deal with general margin/padding/etc. misinterpretations by IE browsers */
/* You are free to tinker with this file, just keep in mind it'll only show up in IE */

h3 {
font-family: Helvetica, Arial, sans-serif;
font-size: 1.4em;
text-transform: capitalize
}

.contact-info p {
height: 0px;
}
.contact-form {
height: auto;
}
.sidebar-form {
height: auto;
}
.contact-form .bottom {
padding-bottom: 80px;
}
.sidebar-form .bottom h3 {
padding-bottom: 0px;
}

.frame #header h2 {
font-size: 20px;
line-height: 26px;
height: 70px;
padding-bottom: 10px;
}
.frame #header h3 {
font-size: 16px;
line-height: 18px;
height: 70px;
padding-bottom: 10px;
}

.heading h3 {
font-family: Georgia, Times, serif;
text-transform: none;
height: 25px;
font-size: 1.3em;
font-weight: normal;
letter-spacing: 0.5px;
}
.heading h3 span {
font-size: 18px;
font-style: italic;
line-height: 28px;
height: 25px;
padding-left: 4px;
}
.heading h2 {
font-family: Helvetica, Arial;
text-transform: Capitalize;
height: 25px;
font-size: 1.7em;
font-weight: bold;
letter-spacing: 0.5px;
padding-left: 9px;
}
.article h3 {
font-size: 15px;
font-weight: bold;
color: #2e2e2e;
line-height: 16px;
padding-top: 12px;
margin-bottom: 25px
}
.bottom h3 {
font-size: 15px;
font-weight: bold;
color: #2e2e2e;
line-height: 16px;
padding-top: 12px;
margin-bottom: 25px
}

.frame #header .slogan {
margin-top: -37px;
}
.buttons a {
font-size: 1.2em;
padding-top: 13px;
}
.stripTransmitter {
margin-bottom: 25px;
}

.gallery-container {
height: 615px;
display: block;
margin-top: 15px;
}
.gallerynav {
margin-top: -26px !important;
}
