@charset "utf-8";
/* CSS Document */

/*preload classes*/ 
.svw {
width: 50px;
height: 20px;
background: #fff;
}
.svw ul {
position: relative;
left: -999em;
}
 
/*core classes*/ 
.stripViewer {
position: relative;
overflow: hidden;
border: 0px solid #ff0000;
margin: 0 0 14px 0;
}
.stripViewer ul {/* this is your UL of images */ 
margin: 0;
padding: 0;
position: relative;
left: 0;
top: 0;
width: 1%;
list-style-type: none;
}
.stripViewer ul li {
float: left;
}
.stripTransmitter {
overflow: auto;
width: 1%;
}
.stripTransmitter ul {
position: relative;
list-style-type: none;
margin: 0 4px 0 0;
padding: 0;
float: right;
}
.stripTransmitter ul li {
width: 27px;
float: left;
margin: 0 0 20px 0;
background: url('images/image-gallery-btm-nav-num.jpg');
}
.stripTransmitter a {
font: bold 10px "lucida sans",arial, sans-serif;
text-align: center;
line-height: 27px;
color: #666666;
text-decoration: none;
display: block;
}
.stripTransmitter a:hover, a.current {
color: #888888;
}
 
/*tooltips formatting*/ 
#tooltip {
background: #fff;
color: #000;
opacity: 0.85;
border: 5px solid #dedede;
}
#tooltip h3 {
font: normal 10px Verdana;
margin: 0;
padding: 6px 2px;
border: 0;
}
