body, html {
	background-attachment:fixed;
	background-color: #ccc;
	background-image:url(dayruby-images/bg.png);
	background-position:center top;
	background-repeat:repeat;
	color:#6b6a70;
	font-family:Helvetica,Arial,sans-serif;
	font-size:0.95em;
	line-height:1.6em;
	width:100%;
}

h1 { font-size: 4em; letter-spacing: -1px; margin-top: 0.5em; margin-bottom: 0.5em; }
h2 { font-size: 1.9em; letter-spacing: -1px; margin-top: 1em; margin-bottom: 0.5em; }
h3 { font-size: 1.7em; letter-spacing: -0.5px; margin-top: 1em; margin-bottom: 0.2em; color:#832a24; }
h4 { font-size: 1.5em; letter-spacing: -0.5px; margin-top: 1em; margin-bottom: 0.2em; }
h5 { font-size: 1.3em; letter-spacing: -0.5px; margin-top: .5em; margin-bottom: 0em; }
h6 { font-size: 1em; letter-spacing: -0.5px; margin-top: .8em; margin-bottom: 0em; }

img {border-style: none;}

.avatar img
{
	border: 3px solid #ccc;
	width: 75px;
	height: 75px;
}

.clear
{
	clear: both;
	line-height: 0px;
}

#container {
	margin: 20px auto;
	width: 900px;
	background: #fff;
}

#header {
	background: #fff;
	padding: 20px 20px 0 20px;
	height: 250px;
}

#header h1 { margin: 0; }

.badge {
    cursor: pointer;
}

#badge_code {
    display: none;
    font-size: 0.9em;
    margin-left: 4em;
}

#tag {
	margin-top: 10px;
	margin-right: 40px;
	float: right;
}

#navigation {
	float: left;
	width: 860px;
	margin-left: 20px;
	border-bottom: 4px solid #ab3a39;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	list-style-type: none;
	display: inline;
}

#navigation li a {
	width: 60px;
	height: 20px;
	display: block;
	float: left;
	padding: 5px 20px;
	color: #6b6a70;
	text-decoration: none;
	text-align: center;
}

#navigation li a:hover { color: #fff; }

#content-container {
	float: left;
	width: 900px;
	background: #fff;
}

#content {
    float: left;
    width: 900px;
    display: inline;
}

#notice {
    width: 846px;
	margin-top: 10px;
    margin-left: 25px;
    padding-bottom: 5px;
	background: #6b6a70;
    border: 2px solid #DBC633;
}

#notice h3 {
	margin-left: 20px;
	text-align: center;
	font-size: 22px;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
}
#notice p {
	margin: 1px;
	padding: 5px;
	text-align: center;
	font-size: 16px;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
}

#notice a {
	color: #DBC633;
}

#notice span {
	color: #DBC633;
}

.sold_out {
    color: red;
    font-weight: bold;
    font-size: 2em;
    margin-top: 30px;
    margin-left: 55px;
}

.waitlist {
    color: red;
    font-weight: bold;
    font-size: 1.6em;
    margin-top: 10px;
    margin-left: 30px;
}

#right {
	float: right;
	width: 290px;
	padding: 10px 0;
	margin: 0 20px 0 0;
	display: inline;
}

#left {
	float: right;
	width: 530px;
	padding: 10px 0;
	margin: 0 20px 0 0;
	display: inline;
}

.schedule {
    margin-left: 10px;
}

.schedule table {
    border: none;
    border-collapse: collapse;
    empty-cells: show;
}

.schedule tr
{
    height: 35px;
    valign: top;
}

.schedule tr:hover
{
    background-color: lightyellow;
}

.schedule tr td:first-child {
    font-weight:bold;
}

.schedule tr td+td {
    padding-left: 5px;
    font-style:italic;
}

.speaker {
	width:530px;
	border-bottom: 1px solid #ccc;
        padding-bottom: 1em;
}

.speaker h6 {
	font-size: 1.7em;
	margin-bottom: 5px;
}

.not-showing {
	display: none;
}

.bios {
	float: right;
	width: 420px;
	font-size: 0.96em;
	line-height: normal;
        margin-top: 10px;
}

.avatar {
	width: 75px;
	height: 75px;
	padding-bottom: 15px;
}
.avatar img {
        border: 3px solid #ccc;
}

.abstract 
{
	clear: both;
	margin-top: 10px;
	line-height: normal;
	font-size: 0.98em;
}

.abstract .title
{
	font-weight:bold;
	font-size: 1em;
}

#footer {
	height:100px;
	width: 840px;
	margin-left: 20px;
	clear: left;
	border-top: 2px solid #ab3a39;
	text-align: right;
	padding-left: 20px;
}

#footer img {float:right;margin-top:10px;margin-right:15px;}

