/* Style Reset */
* {
	padding: 0;
	margin: 0;
}
.cl {
	font-size: 0;
	line-height: 0;
	height: 0;
	display: block;
	clear: both;
}
.clear {clear: both;}

.header h3 {color: #bfdced;}

#navigation li a:hover {color: #006aa7;}
#navigation li a.blue {color: #006aa7 !important;}
#sub-nav li a {color: #bfdced;}

a {color: #006aa7;}
a:hover {color: #bfdced;}
.blue {color: #006aa7;}
h4 {color: #006aa7;}
.subtitle {color:#333;font-size:14px;}
.heading h2 span {color: #006aa7;}
.buttons a:hover {color: #bfdced}
hr {color:#bdc2b4;text-shadow: 0px -1px -1px #999;}


#footer ul a:hover {color: #bfdced;}

.work {
	width: 400px;
	margin-bottom: 5px;
	padding: 10px 5px;
	font-size: 32px;
	font-weight: normal;
	color: #006aa7;
	line-height: 24px;
	text-align: left;
	text-shadow: 0px 1px 1px #999;
	font-family: Helvetica, Arial, sans-serif;	
}

#top {background: #d4e5ef;height:93px;margin-top:-5px;	border-bottom: 2px solid #bdc2b4;}
#top-content {width:960px;margin: 0 auto;}

/***** Main Section *****/

body {
	background: #f1f3f2;
	font-family: Helvetica, Arial, sans-serif;
	color:#333;
	font-size: 12px;
	line-height: 18px;
}

a {text-decoration: none;}
a img {border: 0;}

.contactusthankyou
{
    color: green;
}

.shell {
	width: 950px;
	margin: 5px auto;
}

/* Header */
.header {
	overflow: hidden;
	position: relative;
	margin-top: 0px;
}
#homepage {
	height: 450px;
	background: #002439 url(/images/header12.gif) repeat-x 0 25px;
}
#secondary {
	height: 95px;
	background: #fff;
	border-bottom: 10px solid #002439;
}

.header .slogan {
	background: url(/images/macbookpro.png) no-repeat right 15px;
	width: 970px;
	height: 250px;
	margin: 20px auto;
	padding: 53px 50px 50px;
	padding-left: 9px;
}

.header .slogan h2, .header .slogan h3 {
  	font-family: Arial, sans-serif; text-transform: uppercase;
}
.header .slogan h2 {
  	font-size: 2.9em; 
	line-height: 30px;
	padding: 20px 0 50px;
	text-shadow: 3px 3px 3px #000;
}
.header .slogan h3 {
  	font-size: 1.5em; line-height: 19px;
}

.header h2 {
	font-size: 29px;
	line-height: 29px;
	color: #fff;
	text-transform: uppercase;
	width: 500px;
	height: 70px;
	overflow: hidden;
	position: relative;
	text-align: left;
	font-weight: bold;
}

.header h3 {
	font-size: 17px;
	text-transform: uppercase;
	width: 450px;
	line-height: 17px;
	font-weight: bold;
	position: relative;
	text-align: left;
}

#logo-page a {
	display: block;
	position: relative;
	margin-top: 5px;
	height: 70px;
	background: url(/images/gaslight_software_header_logo_blue.png);
}

#logo-page {
	padding-top: 0px;
	background-image: none;
	width: 325px;
	height: 70px;
	float: left;
	display: inline;
}

#logo-default a {
	display: block;
	position: relative;
	margin-top: 10px;
	height: 70px;
	background: url(/images/gaslight_software_header_logo_blue.png);
}

#logo-default {
	padding-top: 0px;
	background-image: none;
	width: 325px;
	height: 70px;
	float: left;
	display: inline;
}

h3 {font-size: 18px;}
h4 {font-size: 16px;}

#right-area {margin: 0 0 0 auto;}

/***** Navigation *****/

#navigation {
	height: 44px;
	background: url(/images/brd.gif) no-repeat 0 32px;
	float: right;
	display: inline;
	margin-right: 47px;
	padding-top: 29px;
	padding-left: 8px;
	font-size: 15px;
	text-shadow: 1px 1px 1px #ccc;
}

#navigation ul {
	list-style-type: none;
}

#navigation li {
	float: left;
	display: inline;
}

#navigation li a {
	font-size: 0.8em;
	float: left;
	display: inline;
	line-height: 15px;
	height: 32px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: #252525;
	padding: 0 25px;
	padding-top: 20px;
	font-family: Helvetica, Arial, sans-serif;
	width: auto;
}

#navigation li a:hover {
	text-decoration: none;
	background: #f1f1f1;
}

#navigation li:hover {
	background: #f1f1f1;
}

#login-nav {
	float: left;
	display: inline;
	height: 53px;
	background: url(/images/brd.gif) no-repeat 0 2px;
	padding-left: 2px;
	margin: 0 6px;
}

#sub-nav {
	margin: 0 25px 0 auto;
	width: 700px;
	clear: both;
	top: -15px;
	position: relative;
}

#sub-nav ul {
	line-height: 12px;
	font-size: 11px;
	text-align: right;
}

#sub-nav li {
	display: inline;
	padding-top: 20px;
	padding-left: 20px;
}

#sub-nav li a {
	font-family: Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

#sub-nav li a:hover {
	color: #fcfcfd;
}


/***** Main Content ******/

#content {background: #fff url(/images/content-bg.png) repeat-x 0 top; margin: -5px 0;}

.heading {
	height: 80px;
	padding-top: 15px;
	background: #002439;
	border-bottom: 4px solid #bdc2b4;
}

.heading h2 {
	display: inline;
	float: left;
	width: 400px;
	padding: 10px 7px;
	font-size: 37px;
	font-weight: normal;
	color: #006aa7;
	line-height: 24px;
	text-shadow: 0px 1px 1px #999;
	font-family: Helvetica, Arial, sans-serif;
}

.heading h3 {
	display: inline;
	position: relative;
	float: left;
	top: -8px;
	width: 470px;
	height: 25px;
	text-align: left;
	color: #BFDCED;
	font-family: Georgia, Times, serif;
	text-transform: none;
	font-size: 1.3em;
	line-height: 10px;
	font-weight: normal;
	letter-spacing: 0px;
}

.heading h3 span {
	display: block;
	position: relative;
	width: 470px;
	height: 25px;
	padding-left: 4px;
	font-size: 18px;
	font-style: italic;
	line-height: 28px;
}

.heading h3.right {
	float: right;
}

#main {
	padding-top: 25px;
}

/*** Content Table for Portfolio ***/

#content table.portfolio {
  	margin-top: -0.5em; }

#content table.portfolio td {
	border-bottom: 1px solid #cfccc1;
	padding-top: 1em;
	padding-bottom: 0.75em; }

#content table.portfolio td.image {
  	padding-right: 1em; }

#content table.portfolio td.description h4 {
	margin-top: 0;
	margin-bottom: 0; }

#content table.portfolio td.description h5 {
	color: #88806d;
	font-size: 90%;
	margin-top: 0; }

#content table.portfolio td.description p {
 	margin-top: 0.5em;
  	margin-bottom: 0; }

/***** Left Column *****/

.article {
	width: 590px;
	float: left;
	display: inline;
	padding-left: 9px;
}

.article h3 {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #2e2e2e;
	text-align: left;
	font-size: 24px;
}

.article h4 {
	padding-bottom: 3px;
	padding-top: 3px;
}

.article p {
	font-size: 13px;
	padding-bottom: 16px
}

.article ul {
	padding-left: 25px;
	padding-bottom: 16px;
	list-style-type: none;
}

.article li {
	background: url(/images/bul.gif) no-repeat 0 7px;
	padding-left: 11px;
	padding-bottom: 2px;
	display: inline;
	list-style-type: none;
}

/***** Gallery Specific Styles *****/

.gallery-container h3 {
	padding-bottom: 17px;
	padding-top: 3px;
	padding-left: 6px;
	color: #2e2e2e;
	text-align: left;
}

.gallery-container img {
	margin: 6px;
	padding: 0px;
	text-align: left;
}

.gallerynav {
	float: right;
	margin-top: -39px;
	margin-right: 16px;
}

.gallerynav img {
	margin: 0;
}

.gallerynav-footer {
	height: 51px;
}

/***** Blog Specific Styles *****/

.blogentry {
	margin-bottom: 40px;
}

.blogentry img {
	padding: 0 10px;
}

.blogentry .meta {
	background: transparent url(/images/dot.gif) repeat-x scroll 0 25px;
	clear: both;
	color: #999999;
	font-size: 10px;
	height: 30px;
}

.blognav-footer {
	height: 51px;
	margin-top: -20px;
}

/***** About Us Specific Styles *****/

#aboutus-wrapper {
	width: 590px;
	float: left;
	display: inline;
	padding-left: 9px;
}

#aboutus {
	margin-bottom: 40px;
}

#aboutus p {
	font-size: 13px;
	padding-bottom: 16px
}

#aboutus h3 {
	padding-top: 10px;
	padding-bottom: 15px;
	color: #2e2e2e;
	text-align: left;
	font-size: 20px;
	text-shadow: 1px 1px 1px #ccc;
}

#aboutus h4 {
	margin: 0px 0;
	font-size: 14px;
	padding-bottom: 10px;
}

#aboutus img {
	padding: 0px 10px 10px 0px;
}

#aboutus ul {
	list-style-type: none !important;
}

#aboutus li {
	float: left;
	display: inline;
	padding-bottom: 5px;
	list-style-type: none !important;
}

#aboutus li a {
	float: left;
	display: inline;
	height: 32px;
}

.mediaicons {
	padding-top: 5px;
	width: 150px;
	height: 100px;
	
}

.bios {
	float: right;
	width: 425px;
	height: 250px;
}

.avatar {
	width: 150px;
	height: 150px;
}

.email {
	background: url(/images/email.png) no-repeat;
}


/***** Right Column *****/

.rightside {
	width: 300px;
	float: right;
}
.graphic {
	background: url(/images/mid.gif) repeat-y;
	width: 295px;
	margin-bottom: 25px
}
.graphic .top {
	background: url(/images/top.gif) no-repeat;
	width: 295px;
}
.graphic .bottom {
	background: url(/images/btm.gif) no-repeat 0 bottom;
	width: 295px;
	padding: 12px 0
}
.graphic .bottom img {
	display: block;
	width: 270px;
	margin: 0 auto
}

.sidebar-form {
	background: url(/images/mid.gif) repeat-y;
	width: 295px;
	margin-bottom: 25px
}
.sidebar-form .top {
	background: url(/images/grey-top.gif) no-repeat;
	width: 295px;
}
.sidebar-form .bottom {
	background: url(/images/btm.gif) no-repeat 0 bottom;
	width: 275px;
	padding-left: 20px;
	padding-bottom: 20px
}
.sidebar-form .bottom h3 {
	font-weight: bold;
	color: #2e2e2e;
	line-height: 16px;
	padding-top: 12px;
	padding-bottom: 15px
}
.sidebar-form .bottom p.desc {
	padding-bottom: 15px;
	line-height: 18px;
	padding-top: 15px
}

.sidebar-form p {
	line-height: 24px;
}

.sidebar-form p strong {
	color: #000;
}

/***** Bottom Image Bar *****/

.bottom-part {
	background: url(/images/main.gif) no-repeat;
	padding-top: 25px;
}

.box-holder {
	width: 941px;
	padding-bottom: 25px;
	background: url(/images/gradient.gif) repeat-x;
}

.box-holder .top-side {
	background: url(/images/top-side.gif) no-repeat;
	width: 941px;
}

.box-holder .btm-side {
	background: url(/images/btm-side.gif) no-repeat 0 bottom;
	padding-top: 4px;
	padding-bottom: 5px;
	width: 941px
}

.box-holder .first {
	border-left: solid 1px #e5e5e5;
	width: 311px
}

.box-holder .last {
	border-left: solid 1px #e5e5e5;
	width: 312px;
	border-left: solid 1px #fff
}

.box {
	width: 309px;
	float: left;
	display: inline;
	border-right: solid 1px #e5e5e5;
	border-left: solid 1px #fff ;
	margin-right: 1px;
	height: 196px;
}

.box a img {
	display: block;
}

.box a {
	display: block;
	margin: 0 auto;
	width: 294px;
	margin-top: 8px
}

.box .link {
	padding-left: 10px;
	width: 294px;
	padding-top: 10px
}

.box .link p {
	font-size: 14px;
	font-weight: bold;
	color: #343434
}

.box .link a {
	background: url(/images/arr.gif);
	width: 20px;
	height: 20px;
	float: right;
	display: inline;
	text-indent: -4000px;
	font-size: 0 ;
	line-height: 0;
	margin: 0
}

.buttons {
	margin: 0 0 0 auto;
	width: 440px;
}
/*
.buttons .last {
	background: transparent url(/images/our-work-btn.png) no-repeat scroll 0 -5px;
	margin-right: 0;
}

.buttons a {
	background: transparent url(/images/meet-our-team-btn.png) no-repeat scroll 0 -5px;
	color: #FFFFFF;
	display: inline;
	float: left;
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	line-height: 16px;
	margin-right: 18px;
	padding-bottom: 4px;
	padding-left: 50px;
	padding-top: 15px;
	text-decoration: none;
	text-transform: uppercase;
	width: 160px;
	font-family: Helvetica, Arial, sans-serif
}
*/
.post {
	height: 58px;
	border-bottom: solid 1px #e5e5e5;
	padding-top: 10px;
	font-size: 11px;
	line-height: 15px;
}

.post p {
	line-height: 14px;
	color: #999;
	padding-top: 7px;
}

.post img {
	float: left;
	display: inline;
	border: solid 1px #e5e5e5;
	padding: 3px;
	background: #fff;
	margin-right: 8px;
}

/***** Footer *****/

#footer {
	background-color: #002439;
	border-top-color: #bdc2b4;
	border-top-style: solid;
	border-top-width: 2px;
	height: 200px;
}

.footer-container {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	color: #fff;
	background-color: transparent;
	text-align: center;
}

.footer-legal {
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333333;
	padding-top: 30px;
	background-color: transparent;
	text-align: center;
	font-size: 10px;
	color: #fff;
	width: 800px;
	line-height: 1.4em;
}

#footer ul.footer_nav {
	width:	800px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	font-family: Helvetica, Arial, sans-serif;
	padding-top: 30px;
}

#footer ul.footer_nav li {
	display: inline;
	color: #006aa7;
	margin: 25px;
}

#footer ul.footer_nav li a {
	color: #006aa7;
}
#footer ul.footer_nav li a:hover {
	text-decoration: underline;
	background-color: #222;
}

/***** Contact Form *****/

#contact_form {
	float:left;
	width:460px;
	text-align: left;
	padding-left: 25px;
	margin-top: 40px;
}

.contactform {
	margin:0px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#333333;
	width:300px;
	text-align: left;
}

.contact-info {
	padding-top: 9px;
}

.contactform textarea {
	padding:5px;
	border:0px solid #757575;
	width:250px;
	height:150px;
	font-size:18px;
	color:#a1a1a1;
	font-family:Helvetica, Arial, sans-serif;
	background-color: #e5e5e5;
}

.contactform label {
	min-width: 100px;
	float: left;
	padding: 5px;
	padding-left: 0px;
	margin-left: 25px;
}

.input-submit {
	margin-top:10px;
	background-image: url(/images/submit_btn.png);
	width: 185px;
	height: 44px;
	background-repeat:no-repeat;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.input-textarea {
	padding:5px;
	border:0px solid #757575;
	width:250px;
	height:20px;
	font-size:18px;
	color:#a1a1a1;
	font-family:Helvetica, Arial, sans-serif;
	background-color: #e5e5e5;
}

.small_contact {
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#a1a1a1;
	display: block;
	margin-bottom: 10px;
}

.large_contact {
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#2d2d2d;
	text-transform:uppercase;
	display: block;
	margin-top: 10px;
}

.example img {
    width: 400px;
    height: 300px;
}

.example p {
    margin-top: 10px;
}